includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
        - tests

    excludePaths:
        - vendor
        - storage
        - bootstrap/cache

    ignoreErrors:
        - identifier: larastan.noEnvCallsOutsideOfConfig
          path: tests/DuskTestCase.php
